<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/imgs/weather.png">
  </head>
  <body>
    {{>header}}
    <br>
    <img src="/imgs/404.png" class="error-img">
    {{>footer}}
  </body>
</html>