<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="/imgs/weather.png">
  </head>
    <body>
      <div class="main-content">>
        {{>header}}
        <p>{{name}}</p>
        <img src="imgs/this.jpg" class="portrait">
      </div>
      {{>footer}}
    </body>
</html>