<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="/imgs/weather.png">
  </head>
    <body>
      <div class="main-content">
        {{>header}}
        <p>Hi! I am {{name}}</p>
        <p>This site uses MapBox to get the coordinates of the location and uses WeatherStack to get its location. A lot more features yet to come!</p>

        <img src="imgs/this.jpeg" class="portrait">
      </div>
      {{>footer}}
    </body>
</html>