<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="./css/styles.css">
      <link rel="icon" href="/imgs/weather.png">
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>Hey I am {{name}}</p>
    </div>
    {{>footer}}
  </body>
</html>